[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
aiofiles = "*"
annotated-types = "*"
anyio = "*"
attrs = "*"
backoff = "*"
beautifulsoup4 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
cryptography = "*"
dataclasses-json = "*"
dill = "*"
distro = "*"
docling = "*"
docling-core = "*"
docling-ibm-models = "*"
docling-parse = "*"
easyocr = "*"
emoji = "*"
et_xmlfile = "*"
filelock = "*"
filetype = "*"
fsspec = "*"
h11 = "*"
html5lib = "*"
httpcore = "*"
httpx = "*"
huggingface-hub = "*"
idna = "*"
imageio = "*"
iniconfig = "*"
Jinja2 = "*"
jiter = "*"
joblib = "*"
jsonlines = "*"
jsonref = "*"
jsonschema = "*"
jsonschema-specifications = "*"
langdetect = "*"
latex2mathml = "*"
lazy_loader = "*"
lxml = "*"
Markdown = "*"
markdown-it-py = "*"
marko = "*"
MarkupSafe = "*"
marshmallow = "*"
mdurl = "*"
mpire = "*"
mpmath = "*"
multiprocess = "*"
mypy_extensions = "*"
nest-asyncio = "*"
networkx = "*"
ninja = "*"
nltk = "*"
numpy = "*"
olefile = "*"
openai = "*"
opencv-python-headless = "*"
openpyxl = "*"
packaging = "*"
pandas = "*"
pillow = "*"
pluggy = "*"
psutil = "*"
pyclipper = "*"
pycparser = "*"
pydantic = "*"
pydantic-settings = "*"
pydantic_core = "*"
Pygments = "*"
pylatexenc = "*"
pypdf = "*"
PyMuPDF= "*"
pypdfium2 = "*"
pytest = "*"
python-bidi = "*"
python-dateutil = "*"
python-docx = "*"
python-dotenv = "*"
python-iso639 = "*"
python-magic = "*" # Linux/Ubuntu only
# python-magic-bin = "*" # Windows only
python-oxmsg = "*"
python-pptx = "*"
pytz = "*"
PyYAML = "*"
RapidFuzz = "*"
referencing = "*"
regex = "*"
requests = "*"
requests-toolbelt = "*"
rich = "*"
rpds-py = "*"
rtree = "*"
safetensors = "*"
scikit-image = "*"
scipy = "*"
semchunk = "*"
setuptools = "*"
shapely = "*"
shellingham = "*"
six = "*"
sniffio = "*"
soupsieve = "*"
structlog = "*"
sympy = "*"
tabulate = "*"
tenacity = "*"
tifffile = "*"
tokenizers = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
transformers = "*"
typer = "*"
typing-inspect = "*"
typing-inspection = "*"
typing_extensions = "*"
tzdata = "*"
unstructured = "*"
unstructured-client = "*"
urllib3 = "*"
webencodings = "*"
wrapt = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.12"
